:root {
  --branding-color: rgb(231, 3, 3);
  --secondary-color: #0fff50;
  --tertiary-color: white;
  --font-family-nosifer: "Nosifer", sans-serif;
  --font-family-grenze-gotisch: "Grenze Gotisch", serif;
  --font-family-playfair-display: "Playfair Display", serif;
}

.App {
  background-color: rgb(29, 29, 29);
  color: var(--tertiary-color);
  padding: 15px 15px;
  text-align: center;
}

.App h2 {
  color: var(--branding-color);
  font-family: var(--font-family-nosifer);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 3),
    5px 5px 20px var(--secondary-color);
}

.App h3 {
  color: var(--branding-color);
  font-family: var(--font-family-nosifer);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 3),
    5px 5px 20px var(--secondary-color);
}
