:root {
  --branding-color: rgb(253, 3, 3);
  --secondary-color: #f15c48;
  --tertiary-color: white;
  --blue-color: #3325be;
  --font-family-nosifer: "Nosifer", sans-serif;
  --font-family-playfair-display: "Playfair Display", serif;
  --text-shadow: 5px 5px 10px var(--tertiary-color), 5px 5px 20px #3325be;
}

.App {
  background-color: black;
  color: var(--tertiary-color);
  padding: 15px 15px;
  text-align: center;
}

.App h2 {
  color: var(--secondary-color);
  font-family: var(--font-family-nosifer);
  text-shadow: var(--text-shadow);
}

.App h3 {
  color: var(--secondary-color);
  font-family: var(--font-family-nosifer);
  text-shadow: var(--text-shadow);
}
